include button

mixin product-grid(items)
  for item in items
    ul.grid&attributes(attributes)
      li.grid__item
        +product(item[0], item[1])

mixin product(product, modifier)
  .product(class=(modifier ? 'product--' + modifier : ''))&attributes(attributes)
    .product__image
      img(src=product.imageUrl, alt="Case for the game " + product.title)
    .product__info
      h3.product__name=product.title
      p.product__description=product.description
      p.product__price
        sup.product__price__sign $
        span.product__price__val=product.price.val
        sup.product__price__dec=product.price.dec
        sup.product__price__legal MSRP*
      +button('Add to wish list').product__button